[class^='BackstageHeader-header'] {
    /* background: rgb(46, 44, 44) !important; */
    /* background: #1265A8 !important; */
    background: #6ba4d9 !important;
  }
  
  [class^='.BackstageSidebar-drawer'] {
    /* background: rgb(46, 44, 44) !important; */
    /* background: #1265A8 !important; */
    background: #005a9c !important;
  }
  
  .MuiDialog-paperFullWidth {
    background: white !important;
  }
  
  [class^='.MuiPopover-paper'] {
    /* background: rgb(46, 44, 44) !important; */
    /* background: #1265A8 !important; */
    background: white !important;
  }
  
  
  [class^='MuiPaper-root'] {
    background: white !important;
  }